#header-image {

    background-image: url("../media/pizza-oven.jpg");
    height: 55vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vineyard-image {
    background-image: url("../media/vineyard.jpg");
    height: 35vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#table-image {
    background-image: url("../media/table.jpg");
    height: 55vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#port {
    background-image: url("../media/port.jpg");
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 600px) {

    #header-image {
        height: 500px;
        background-position: top;
        background-size: auto;
    }

    #vinyard-image {
        height: 400px;
        background-position: right;
        background-size: auto;
    }
}