$dough: #DEC9A0;

#add-menu {
    margin: 1.5em 1em 1em 3em;
}

.customer-message {
    margin: 1em 2em;
    padding: 0.5em;
    max-width: 400px;
    line-height: 1.4em;
    background-color: white;
    border: 1px dotted grey;
    border-radius: 10px;
}
.bookings-for-admin {
    @extend .customer-message;
}

//knapp
#loadBtn {
    background-color: white;
    margin: 1em 3em;
    padding: 1em;
    border-radius: 15px;
    font-size: 1.1em;
    &:hover {
        cursor: pointer;
        background-color: $dough;
    }
}