.fade {
    color: rgb(0, 0, 0, 0.5);
    letter-spacing: 10px;
    font-size: 2em;
    font-weight: 500;
    padding-left: 1.5em;
    text-align: center;
}

@media screen and (max-width: 800){
    .fade {
        color: rgb(0, 0, 0, 0.5);
        letter-spacing: 5px;
        font-size: 1.5em;
        font-weight: 500;
        padding-left: 1.5em;
    }
}