$mozzarella: #EBE1D3;
$basil: #4B3A29;


.hero {
    h1 {
        text-align: center;
        padding-top: 0.5em;
        color: $mozzarella;
        text-shadow: 1px 2px 2px black;
        font-weight: 400;
        font-size: 2.8em;
        text-transform: uppercase;
        letter-spacing: 7px;
        word-spacing: 7px;
    }
    h2 {
        @extend h1;
        font-size: 1.5em;
    }
}

#index {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.5em;


    article {   
        width: 100%;
        margin: 0.8em auto;
        padding: 8em 1em;
        line-height: 1.6em;
        background-color: rgb(255, 255, 255, 0.7);

        &:hover {
            cursor: default;
        }
    }

    h2 {
        max-width: 90vw;
        width: 1000px;
        margin: 0 auto;
        color: $basil;
        text-transform: uppercase;
        font-size: 1.7em;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 0.5em 0;
    }

    p {
        max-width: 90vw;

        width: 1000px;
        margin: 0 auto;
    }

    .image {
        img {
            width: 1000px;
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }



}
