#printed-menu {
    article {
        border-radius: 5px;
        background-color: rgb(255, 255, 255, 0.7);
        margin: 1em 1em 1em 0;
        width: 40%;
        margin: 0.5em 1em;
        padding: 0.5em 1em;
    }
}

.menu-image {
    img {
        max-width: 500px;
        margin: 0.5em 1em;
        border-radius: 5px;

    }
}