$dough: #DEC9A0;
$tomato: #A23B23;
$coal: #2D2A26;
$mozzarella: #EBE1D3;

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    background-color: $dough;
    margin-top: auto;


    .footer-1 {
        grid-column: 1/2;
        grid-row: 1;
        margin: 1em 0 1em 3em;
        line-height: 1.5em;

        h2 {
            color: $tomato;
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    .footer-2 {
        grid-column: 2/3;
        grid-row: 1;
        margin: 3em auto;


        a {
            margin: 5em 2em;
            padding: 1em;
            border-radius: 50px;
            background-color: $coal;
            color: $mozzarella;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover {
            cursor: pointer;

            a {
                color: $coal;
                font-weight: bolder;
            }
        }

    }


    .footer-3 {
        grid-column: 3/4;
        grid-row: 1;
        margin: 1em 3em 1em;

        ul {
            text-align: right;
        }

        li {
            display: block;
            line-height: 1.5em;
        }

        a {
            color: black;
            text-shadow: 0 2px 8px 0 rgb(210, 230, 223);
            font-weight: 400;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

        }
    }

}