$basil: #4B3A29;

#form-container {
    width: 400px;
    margin: 2em auto;
    background-color: #fcfcfc;
    padding: 2em 3em 6em;
    box-shadow: 1px 4px 10px 1px #aaa;

    * {
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
        margin: 1em auto;
    }

    label {
        color: #777;
        font-size: 0.8em;
    }

    input {
        margin-bottom: 0.5em;
        display: block;
        height: 32px;
        padding: 6px 16px;
        width: 100%;
        border: none;
        background-color: #f3f3f3;
    }
    textarea {
        @extend input;
        height: 10em;

    }

    button {
        padding: 0.5em 0.8em;
        border-radius: 50px;
        background-color: $basil;
        float: right;
        display: block;
        margin: 1em auto;
        color: white;

        &:hover {
            background-color: white;
            color: $basil;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}
