$tomato: #A23B23;
$basil: #4B3A29;
$mozzarella: #EBE1D3;
$dough: #DEC9A0;
$coal: #2D2A26;

header {
    background-color: $tomato;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;

}

.header-1 {
    grid-column: 2;

}

#drop-nav {
    
    nav {
        background-color: $mozzarella;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        ul {
            width: 100%;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            top: 7em;
            position: absolute;
            text-align: left;
        }

        li {
            padding: 1em 1em 1em 3em;
            width: 100%;
        }

        a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            line-height: 2em;
            padding: 0 0 0 0.5em;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .menu-btn {
        position: absolute;
        left: 3em;
        top: 2.5em;
        display: flex;
        align-items: center;
        background-color: $tomato;
        cursor: pointer;

        &:hover {
            cursor: pointer;
        }
    }

    .open {
        position: absolute;
    }

    .close {
        position: absolute;
        left: -2em;
        top: 0;
        padding: 1em 0 1em 5em;
        background-color: $mozzarella;
        width: 100vw;
        height: 10vh;
    }
}



.header-2 {
    grid-column: 2/3;

    img {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
}

.header-3 {
    grid-column: 3.4;

    nav {

        padding: 0.5em;

        ul {
            text-align: right;
            position: static;
        }

        li {
            display: inline;
            padding: 1em;
        }

        a {
            color: black;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

        }

    }
}